/* src/components/ScrollToTopButton.css */
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    /* S'assurer qu'il est au-dessus du contenu */
}

.scroll-btn {
    background-color: #9370DB;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: #5a5a5a;
    transform: translateY(-5px);
    /* Petit effet de soulèvement */
}